.tile{
    width:35vw;
    min-width: 260px;
    background: radial-gradient(black 40%, transparent, transparent);
    border-radius: 10px;
    margin:.5em auto;

}

.tile-weather{
    
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top:1vh;
    padding-bottom:1vh;

}




