.tile{
    width:35vw;
    min-width: 260px;
    //height: 40vh;
    //background: black;
    //box-shadow: 10px 10px 5px #888888;
    //box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset; 
    //box-shadow: 0px 30px 40px rgba(0,0,0,.1);
    //background: -webkit-gradient(linear, center center, center center, color-stop(0%,black), color-stop(100%,rgba(255,255,255,0)));
      //background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
      //background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: radial-gradient(black 40%, transparent, transparent);
    border-radius: 10px;
    margin:.5em auto;

}

.tile-weather{
    
    color: white;
    //z-index: 3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top:1vh;
    padding-bottom:1vh;

}




